.mission-controller-overlay {
  position: absolute;
  right: 0;
  top: 0;
  width: inherit;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
  border-radius: 15px 0 0 15px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.mission-controller-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mission-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.close-btn {
  background: transparent;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.mission-steps {
  margin-top: 16px;
  list-style: none;
  padding: 0;
}

.mission-steps li {
  margin: 10px 0;
  font-size: 0.95rem;
  padding: 10px;
  border-radius: 15px;;
  background-color: aliceblue;
}

.mission-description {
  font-size: 0.85rem;
  color: #444;
  padding-top: 10px;
  border-top: 1px solid #eee;
}
